<launch>

  <!-- We launch the core reachy model and gazebo from reachy moveit config -->
  <include file="$(find reachy_moveit_config)/launch/demo.launch">
      <arg name="use_rviz" value="false"/>
  </include>

  <include file="$(find colab_reachy_tf)/launch/tf.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="apriltag_4" args="-0.05 0 -1 0 0 0 1 apriltag_4 pedestal 100" />

</launch>